.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  position: absolute;
  left: 0;
  right: 0;
}
.navbar-logo-wrapper {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.navbar-logo {
  width: 55px;
  height: 55px;
}
.navbar-buttons-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.navbar-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 70%;
}
